---
page-title: "GoFireSafe"
title: "Commercial fire alarm & security systems company in New York, specializing in installation maintenance and inspection of FDNY approved fire alarm systems."
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/fire.jpg
  actions:
    - label: "Free Estimates"
      url: "https://github.com/mmistakes/minimal-mistakes/"
intro:
  - title: 'Our Expertise'
feature_row:
  - image_path: assets/images/fire-alarm-system.png
    alt: "fire alarm systems"
    title: "Fire Alarm Systems"
    excerpt: "At GFS we custom-design all of our fire alarm installations."
  - image_path: /assets/images/commercial-burglar-alarms.png
    alt: "burglar alarms"
    title: "Burglar Alarms"
    excerpt: "Burglar alarms are necessary for protecting property."
  - image_path: /assets/images/commercial-cctv-installation.png
    title: "Commercial CCTV"
    excerpt: "Get an advanced video surveillance system to protect your property."
feature_row2:
  - image_path: assets/images/commercial-access-control-systems.png
    alt: "access control systems"
    title: "Access Control Systems"
    excerpt: "Manage who has access to certain areas of your property."
  - image_path: /assets/images/intercom-systems-installation.png
    alt: "intercom systems"
    title: "Intercom Systems"
    excerpt: "An effective and affordable way to protect your staff and visitors from gun violence."
  - image_path: /assets/images/fdny-approved-arcs-systems.png
    title: "ARC Systems"
    excerpt: "Auxiliary Radio Communication Systems are two-way emergency FDNY radio systems."
feature_row3:
  - title: "Excellent Service At An Affordable Price"
    excerpt: 'We care about our clients and their safety, and make it our business to serve as an advisor in this complex and constantly changing industry.'
feature_row4:
  - title: "Stay Safe, Protect Your Property & People Now"
    excerpt: 'Our certified fire alarm system consultants are ready to help you today'
    url: "#test-link"
    btn_label: "Get My FREE Estimate"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}
<div style="border-top: 1px dotted #761816; padding-top: 2em;">
{% include feature_row id="feature_row3" type="center" %}</div>
<div style="padding-left: 1.5em; padding-right: 1.5em; color: white; background-color: #761816;">
{% include feature_row id="feature_row4" type="center" %}</div>
