---
title: "Fire Alarms"
excerpt: 'We custom-design all of our fire alarm installations. From iconic NYC high-rise buildings and residential buildings, to local daycare centers, no new fire alarm install project is too big or too small.



We have experience working with building owners on turnkey fire alarm installation solutions in NYC at low costs thanks to our vast network of general contractors and electricians with parts and smarts. Our other service includes Fire Alarm Design, Fire Alarm Monitoring, Fire Alarm Repairs, Fire Alarm Inspections, and Auxiliary Radio Communication System.'
layout: splash
permalink: /fire-alarms/
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/fire.jpg
  actions:
    - label: "Free Estimates"
      url: "https://github.com/mmistakes/minimal-mistakes/"
intro:
  - title: 'Fire Alarm System Installation Done Right'
  - excerpt: 'Installing a fire alarm system is not an easy task and neither is finding the right company.'
feature_row:
  - image_path: /assets/images/fire.jpg
    alt: "Fire Alarm Image"
    excerpt: 'We are proud to be one of the few fire alarm installers that perform in-house installations. Our Certified NICET Level 2 installers are among the top qualified in the industry. Their 25 years of combined experience help integrate old fire alarm system technology with modern digital systems.<br>Understating fire alarm requirements by NFPA72, as well as 70 and 101 are key to proper fire alarm installation services. An improper installation by a fly-by-night contractor can hold back your building occupancy and tenancy and also represent thousands of dollars in lost rent, loss of business opportunity, premium interest to bank loans, as well the loss of good tenants.'
footer:
  - title: "Stay Safe, Protect Your Property & People Now"
    excerpt: 'Our certified fire alarm system consultants are ready to help you today'
    url: "#test-link"
    btn_label: "Get My FREE Estimate"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row" type="left" %}

<div style="padding-left: 1.5em; padding-right: 1.5em; color: white; background-color: #761816;">
{% include feature_row id="footer" type="center" %}</div>
